* {
    margin: 0;
    padding: 0;
}
body {
    background: #aaa;
    font-family: Verdana,sans-serif;
    font-size: 10pt;
}
img { border: 0 }
a {
    outline: 0;
    color: #010;
}
a:hover { color: #05326d }
li.active:hover { color: #05326d }
#payload-layout {
    position: relative;
    margin: 1em auto .5em auto;
}
#main {
    position: relative;
    margin: 0 1em 0 1em;
    border: 1px solid #05326d;
    border-top: 2px solid #05326d;
    border-radius: 5px;
}
#envelope {
    width: 900px;
    margin: 1em auto 0 auto;
    background: #fff;
    position: relative;
    border: 1px solid #888;
}
#toprow {
    position: relative;
    background: url(http://www.openavproductions.com/files/linux_audio_banner.jpg) 0 0 no-repeat;
    height: 130px;
    width: 100%;
    overflow: hidden;
}
#toplogo {
    position: relative;
    background: url(../img/lac2014.png) 0 0 no-repeat;
    height: 130px;
    width: 150px;
    top: 5px;
    left: 734px;
}
#logoright {
    position:absolute;
    text-align:left;
    z-index:80;
    top:1em;
    right:.5em;
    width:129px;
    height:24px
}
#titlebar {
    position: absolute;
    top: 0;
    left: 0;
    color: #fffff9;
    margin: 0 auto;
    text-align: left;
    width: 700px;
}
#titlebar div {
    padding-left: 35px;
    width: 655px;
}
#maintitle {
    padding-top: 8px;
    font-size: 20pt;
    color: #222222;
    text-shadow: #636363 2px 2px 4px;
}
#subtitle {
    font-size: 12pt;
    font-weight: bold;
    margin-top: .8em;
    color: #222222;
    text-shadow: #636363 2px 2px 4px;
}
#wherewhen {
    font-weight: bold;
    margin-top: 1em;
        color: #222222;
    text-shadow: #636363 2px 2px 4px;
}
#andwhat
{
  color: #222222;
  text-shadow: #636363 2px 2px 4px;
}
#mainmenu {
    position: relative;
    z-index: 50;
    font-size: 12px;
    margin: 0 2.5em 0 2.5em;
    height: 30px;
}
#mainmenu a {
    text-decoration: none;
    color: #232;
}
#mainmenu a:hover { color: #05326d }
div.menuitem {
    float: left;
    padding: 3px .75em 4px .75em;
    height: 12px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    min-width: 70px;
    z-index: 50;
    background: #aaa;
    border-radius: 10px 10px 0 0;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    margin: 10px .25em 0 .25em;
    overflow: hidden;
}
div.tabactive {
    background: #fff;
    color: #010;
    border-color: #05326d;
    border-width: 2px 2px 0 2px;
    margin: 0 .25em;
    padding: 9px .75em;
}
div.tabactive a,
.tabactive a:hover { color: #010!important }
.disclaimer {
    color: #808080;
    font-size: 80%;
    margin: 1em 0 0 0;
}
#createdby {
    color: #808080;
    font-size: 75%;
    padding-right: 1.5em;
    text-align: right;
    margin: 0 0 .5em 0;
}
#footerwrap {
    text-align: center;
    border: 0;
    margin: 1em auto 1em auto;
    font-size: 75%;
    width: 900px;
}
#supporterbar {
    width: 180px;
    padding: 0;
    margin: .5em auto .5em auto;
    text-align: center;
    overflow: hidden;
}
#supporterbar div {
    margin-bottom: 1em;
    font-size: 75%;
}
#supporter a,
#supporterbar a { text-decoration: none }
#supporter th,
#supporter td { text-align: center }
#supporter td {
    width: 33%;
    overflow: hidden;
    padding-bottom: 1em;
}
#content {
    color: #010;
    font-family: Verdana,sans-serif;
    font-size: 10pt;
    line-height: 14pt;
    padding: .5em 1.5em 1.5em 1.5em;
    border: 0;
    margin: 1.0em 0 0 0;
    min-height: 25em;
}
#content p {
    text-align: justify;
    padding-bottom: .5em;
}
#content span.standout { font-weight: bold }
#content ul+h1,
#content p+h1 { margin-top: 1.0em }
#content ul+h2,
#content p+h2 { margin-top: 1.0em }
#content ul+h3,
#content p+h3 { margin-top: 1.0em }
#content ul+h4,
#content p+h4 { margin-top: .5em }
li { padding: 0 0 0 .8em }
#content h1,
#content h2,
#content h3 {
    margin-top: 0;
    margin-bottom: .5em;
}
#content h1 { font-size: 130% }
#content h2 { font-size: 125% }
#content h3 { font-size: 120% }
#content h4 {
    font-size: 110%;
    font-style: italic;
}
#content form {
    width: 49em;
    margin: 0 auto;
}
#content input.button { font-size: 110% }
#content textarea { border: 1px solid black }
#content ul {
    margin-left: 1em;
    text-align: justify;
}
#content ol {
    margin-left: 1.5em;
    text-align: justify;
}
.speakers th,
.speakers td {
    text-align: center;
    max-width: 128px;
}
.speakers td { overflow: hidden }
.speakers td.tag {
    vertical-align: top;
    padding-bottom: 1em;
    line-height: 1.1em;
}
.speakers a,
div.user a { text-decoration: none }
#profile div.portrait {
    float: right;
    margin: 1em .5em .5em .5em;
}
#profile div.portrait,
.speakers div.portrait {
    width: 128px;
    height: 128px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}
.speakers div.tagline {
    font-size: small;
    font-style: italic;
    line-height: 1.0em;
}
#profile div.portrait,
.speakers div.portrait img {
    max-height: 128px;
    max-width: 128px;
}
div.user div.portrait {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 1em 1em 0;
    text-align: center;
}
div.portrait img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 11px;
}
div.user div.userinfo {
    position: relative;
    margin-left: 220px;
}
div.user div.bio { margin: 1em 0 }
#content div.user ul { text-align: left }
#content legend { margin-left: 1em }
fieldset {
    padding: 0 .5em .5em .5em;
    font-size: 11pt;
    clear: both;
}
#content label.la { font-style: italic }
#content .error { color: #900 }
#content p.error { font-size: 120% }
#content .fx { display: none }
fieldset .small { font-size: 10px }
fieldset legend { text-align: left }
.fs {
    text-align: right;
    padding-right: 1em;
}
.fs input { width: 20em }
.fs select { width: 20.3em }
.fs input,
.fs select,
.fs label.la {
    margin: 4px 0 4px .5em;
    vertical-align: middle;
}
.fs label.ls {
    font-style: italic;
    font-size: 80%;
    margin: 0 0 0 .5em;
}
.fa {
    text-align: right;
    padding-right: 1em;
}
.fa div.la {
    float: left;
    padding-left: .5em;
    padding-right: .25em;
    clear: left;
    border-bottom: 1px solid #fefef9;
}
.fa div.ra {
    border-bottom: 1px dotted gray;
    margin-bottom: 1em;
}
.fa table {
    float: right;
    margin: 0 0 1em 120px;
    text-align: left;
}
.fa td { padding-left: 10px }
.fa td label input { margin-right: 4px }
.fa label.ls {
    font-style: italic;
    font-size: 80%;
    margin: 0 0 0 .5em;
}
.fm input { width: 202px }
#adminmenu {
    margin: 1.5em .5em 1em 1em;
    padding: 1em;
    border: 1px solid #aaa;
    background: #ccc;
    border-radius: 10px;
    text-align: center;
}
table.adminlist { width: 99% }
.adminlist { font-size: 90% }
.abstract {
    font-size: 80%;
    text-align: justify;
    margin-top: .75em;
    line-height: 125%;
}
p.ptitle { margin: 0 0 2em 0!important }
h2.ptitle { margin: 1.5em 0 2px 0!important }
h3.ptitle {
    margin: 1.5em 0 0 0!important;
    text-align: center;
}
div.ptitle {
    margin: .1em 0 1.0em 0!important;
    text-align: center;
}
hr.psep {
    margin: .5em auto .5em auto;
    width: 50%;
    color: #cdc;
    background-color: #202020;
    border: 0;
    height: 1px;
    clear: both;
}
div.aimg {
    margin: .25em .5em .25em 0;
    float: left;
}
a.active {
    cursor: pointer;
    color: blue;
}
#frank img { cursor: pointer }
td.active,
li.active { cursor: pointer }
.pdb input,
.pdb textarea { width: 98% }
.pdb input.duration { width: 4em }
.pdb label {
    font-style: italic;
    font-size: 80%;
}
.pdb input.smbutton { width: 4em }
.pdb input.button { width: 49% }
.pdb tr.alt { background-color: #c0c0c0 }
td.cancelled { text-decoration: line-through }
span.cancelled {
    text-decoration: line-through;
    color: red;
}
span.cancelled b,
span.cancelled span {
    text-decoration: line-through;
    color: #010;
}
div.dbmsg { background-color: #caa }
span.underline { text-decoration: underline }
td.center,
div.center { text-align: center }
table.ptb {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    width: 100%;
}
td.ptb,
th.ptb {
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    padding: 0 2px 0 2px;
    vertical-align: top;
}
td.xpad { padding: 0 .5em 0 .25em }
.tr0 { background-color: transparent }
td.trX {
    background: black;
    color: white;
    line-height: 120%;
    font-weight: bold;
}
div.spacerDay { margin: 4em }
div.spacerTime { margin: 3em }
.trm { background-color: #e22 }
.trmK { background-color: #e00 }
.trmL { background-color: #e16 }
.trmS { background-color: #e61 }
.trC { text-align: center }
.trl { background: transparent url(../img/transl.png) repeat scroll 0 0 }
.trp { background: transparent url(../img/trans7.png) repeat scroll 0 0 }
.tro { background: transparent url(../img/transo.png) repeat scroll 0 0 }
.trw { background: transparent url(../img/transw.png) repeat scroll 0 0 }
.tr0 { background: transparent url(../img/trans3.png) repeat scroll 0 0 }
.tri { background: transparent url(../img/trans6.png) repeat scroll 0 0 }

table.legend td {
    border-top: 1px solid black;
    border-right: 1px solid black;
}
table.legend {
    width: 75%;
    margin: 1em auto;
    table-layout: fixed;
    font-size: 90%;
    line-height: 130%;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
div.right { text-align: right }
.highlight { background-color: #dee3e8 }
.red { color: #f00 }
.yellow { color: #aa0 }
.green { color: #1e1 }
span.tme {
    color: #311;
    border-bottom: 1px dotted black;
}
div.flright {
    margin: 0 0 .25em .5em;
    float: right;
}
div.righttr {
    margin: .4em 0 0 .5em;
    float: right;
    padding: 0 .25em 0 .25em;
    font-size: 75%;
    line-height: 130%;
    font-variant: small-caps;
}
div.clearer {
    clear: both;
    height: 0;
}
#content ul { padding-left: .5em }
ul.multicolumn { width: 100% }
ul.multicolumn li {
    float: left;
    width: 30%;
}
ul.nobullet li {
    list-style: none;
    margin-left: 0;
    text-align: left;
    font-size: 90%;
}
#infoframe,
#ieframe {
    border: 1px solid white;
    height: 380px;
    width: 100%;
}
#infobox {
    background: transparent url(../img/cornera_tl.png) no-repeat scroll left top;
    color: #010;
    height: 400px;
    left: 15%;
    min-width: 600px;
    overflow: hidden;
    position: fixed;
    top: 140px;
    width: 70%;
    z-index: 300;
}
.footbar {
    font-size: 10px;
    line-height: 10px;
    width: 100%;
    position: absolute;
    height: 10px;
    background: #fffff9;
    overflow: hidden;
}
.ibfootl { background: transparent url(../img/cornera_bl.png) no-repeat scroll left top }
.ibfootl {
    bottom: -2px;
    height: 12px;
    left: 0;
    position: absolute;
    width: 12px;
    overflow: hidden;
}
.ibfootr { background: transparent url(../img/cornera_br.png) no-repeat scroll left top }
.ibfootr {
    bottom: -2px;
    height: 12px;
    position: absolute;
    right: -2px;
    width: 12px;
    overflow: hidden;
}
.ibtoptr {
    background: transparent url(../img/cornera_tr.png) no-repeat scroll right top;
    top: 0;
    height: 12px;
    position: absolute;
    right: 0;
    width: 12px;
    overflow: hidden;
}
#infobox .trc {
    height: 10px;
    margin: 0 10px 0 10px;
    position: relative;
}
#dimmer {
    background: transparent url(../img/dim.png) repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
